*.sublime-*
composer.lock
.phpunit.result.cache

# files of Composer dependencies that are not needed for the plugin
vendor/*
!vendor/composer
!vendor/mzur
vendor/mzur/*
!vendor/mzur/kirby-form
!vendor/mzur/kirby-flash
!vendor/autoload.php
